@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.navbar-nav > li {
  color: #000;
  padding-right: 2rem !important;
}

.navbar-nav > li > a:hover {
  border-bottom: 1px solid #fe6565;
}

.navbar-nav > li.active > a {
  border-bottom: 1px solid #fe6565 !important;
  color: #fe6565 !important;
}

/* hero */

#hero {
  width: 100%;
  height: 80vh;
}

h1 {
  font-family: "Playfair Display", serif;
  margin: 0;
  font-size: 40px;
  font-weight: 500;
  line-height: 56px;
  color: #000;
}

#hero p {
    line-height: 1.5;
    color: #999999;
}

.hero-btn{
    background-color: #fe6565;
    border: 1px solid #fe6565;
}

.hero-btn:hover{
    background-color: #fff !important;
    color: #fe6565 !important;
    border: 1px solid #fe6565;
}

/* card */

.card-image img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px 8px 0px 0;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    background: #fff;
    padding: 10px 15px;
}

.card-text {
    padding: 10px 15px;
    background: #fff;
    font-size: 14px;
    color: #636262;
}

.card-button {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: #fe6565;
    color: #fff;
    border-radius: 0 0 8px 8px;
}

.card-button:hover {
    text-decoration: none;
    background-color: #fff;
    color: #fe6565;

}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fe6565;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: 90%;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .remove{
    padding: 0;
  }