@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.navbar-nav > li {
  color: #000;
  padding-right: 2rem !important;
}

.navbar-nav > li > a:hover {
  border-bottom: 1px solid #fe6565;
}

.navbar-nav > li.active > a {
  border-bottom: 1px solid #fe6565 !important;
  color: #fe6565 !important;
}

/* hero */

#hero {
  width: 100%;
  height: 80vh;
}

h1 {
  font-family: "Playfair Display", serif;
  margin: 0;
  font-size: 40px;
  font-weight: 500;
  line-height: 56px;
  color: #000;
}

#hero p {
    line-height: 1.5;
    color: #999999;
}

.hero-btn{
    background-color: #fe6565;
    border: 1px solid #fe6565;
}

.hero-btn:hover{
    background-color: #fff !important;
    color: #fe6565 !important;
    border: 1px solid #fe6565;
}

/* card */

.card-image img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px 8px 0px 0;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    background: #fff;
    padding: 10px 15px;
}

.card-text {
    padding: 10px 15px;
    background: #fff;
    font-size: 14px;
    color: #636262;
}

.card-button {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: #fe6565;
    color: #fff;
    border-radius: 0 0 8px 8px;
}

.card-button:hover {
    text-decoration: none;
    background-color: #fff;
    color: #fe6565;

}